.quoteDiv {
  justify-content: center;
  align-items: center; 
  display: grid;
  height: 70vh;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 500px 500px 500px 500px;
  position: relative;
  left: 14%;
}

.quoteText {
  justify-content: center;
  align-items: center;
  max-width: 55rem;
  transform: translateY(15%);
}

.quoteAuthor {
  max-width: 200px;
  text-align: left;
  align-content: right;
  position: relative;
  bottom: 70%;
  left: 70%;
}

h1, h3 {
  color: white;
}